node_modules/
dist/
logs/
*.tsbuildinfo

.env
.env.example
serviceAccountKey.json
startup-2c9aa-firebase-adminsdk-fbsvc-cf6f727bcd.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
